{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'styles/perfil.css' %}">
    <link rel="stylesheet" href="{% static 'styles/edit-perfil.css' %}">
{% endblock %}
{% block content %}

    <!-- Header -->
    {% include 'header.html' %}
    <!-- end header -->

    <main class="main-perfil">
        <div class="main-container-perfil">
            <div class="perfil-header">
                <span class="foto-dados" onclick="modalPhoto()">
                    <span class="image-edit">
                        <div class="fade-trocar-imagem">Trocar imagem</div>
                        <img {% if user.aluno.foto %} src="{{ user.aluno.foto.url }}" {% else %} src="{% static 'img/aluno-normal.svg' %}" {% endif %} alt="" width="150px" height="150px">
                    </span>
                </span>
                <span class="aluno-redes">
                    <ul onclick="mostrarModal()">
                        <li><a href="#"><img src="{% static './img/linkedin-normal.svg' %}" alt=""></a></li>
                        <li><a href="#"><img src="{% static './img/github-normal.svg' %}" alt=""></a></li>
                        <li><a href="#"><img src="{% static './img/discord-normal.svg' %}" alt=""></a></li>
                        <li><a href="#"><img src="{% static './img/instagram-normal.svg' %}" alt=""></a></li>
                        <li><a href="#"><img src="{% static './img/wpp-normal.svg' %}" alt=""></a></li>
                    </ul>
                </span>
            </div>
            <div class="perfil-bio">
                <h2>Sobre mim</h2>
                <textarea name="bio" id="bio" cols="30" rows="8" maxlength="150" onclick="modalBio()">{{ user.aluno.bio }}</textarea>
            </div>

            
        </form>
            
        <!-- Modals -->
        <div class="fade"></div>
        <div class="modal">
            <div id="modal-container-form">
                <form action="{% url 'edit' %}" method="post" class="form-redes">
                    {% csrf_token %}
                    <h1>Redes Sociais</h1>
                        <div class="input-social">
                            <img src="{% static './img/linkedin-normal.svg' %}" alt="ícone linkedin">
                            {{ form_rede_social.linkedin }}
                        </div>
                        <div class="input-social">
                            <img src="{% static './img/github-normal.svg' %}" alt="ícone github">
                            {{ form_rede_social.github }}
                        </div>
                        <div class="input-social">
                            <img src="{% static './img/discord-normal.svg' %}" alt="ícone discord">
                            {{ form_rede_social.discord }}
                        </div>
                        <div class="input-social">
                            <img src="{% static './img/instagram-normal.svg' %}" alt="ícone instagram">
                            {{ form_rede_social.instagram }}
                        </div>
                        <div class="input-social">
                            <img src="{% static './img/wpp-normal.svg' %}" alt="ícone whatsapp">
                            {{ form_rede_social.whatsapp }}
                        </div>
                        <div class="btn-social">
                            <button type="submit" name="submit_redes_sociais" class="btn-social-confirm" >Salvar</button>
                            <a onclick="mostrarModal()" class="btn-social-cancel" >Cancelar</a>
                        </div>
                </form>
            </div>
        </div>
        <div class="modal-photo">
            <div id="modal-container-form-photo">
                <form action="{% url 'edit' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h2>Alterar imagem</h2>
                    <label for="photo">
                        <span class="foto-dados">
                            <span class="image-edit" >
                                <img {% if user.aluno.foto %} src="{{ user.aluno.foto.url }}" {% else %} src="{% static 'img/aluno-normal.svg' %}" {% endif %} alt="" width="150px" height="150px">
                                <input type="file" name="photo" id="photo" style="display: none;">
                            </span>
                        </span>
                    </label>
                    <div class="btn-social">
                        <button type="submit" class="btn-social-confirm" >Salvar</button>
                        <a onclick="modalPhoto()" class="btn-social-cancel" >Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-bio">
            <div id="modal-container-form-bio">
                <form action="{% url 'edit' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h2>Alterar Descrição</h2>
                    {{ form_biografia.bio }}
                    <div class="btn-social">
                        <button type="submit" name="submit_biografia" class="btn-social-confirm" >Salvar</button>
                        <a onclick="modalBio()" class="btn-social-cancel" >Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <script src="{% static './scripts/fadeTrocarImagem.js' %}"></script>
    <script src="{% static './scripts/modalSociais.js' %}"></script>
    <script src="{% static './scripts/modalBio.js' %}"></script>
    <script src="{% static './scripts/modalPhoto.js' %}"></script>

{% endblock %}

