{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
{% endblock %}

{% block content %}



<!-- header -->
{% include 'header.html' %}
<!-- end header-->
<main class="main-login">
    {% if messages %}
        
            {% for message in messages %}
            <div class="message {{message.tags}}">
                {{ message }}
            </div>
            {% endfor %}
    {% endif %}
    <div class="main-container-login">

        <h1>Entrar</h1>
        <div class="login-container">
            <img src="{% static './img/aluno.svg' %}" alt="Imagem ilustrativa de aluno">
            <div class="login">
                <form action="{% url 'login' %}" class="login-form" method="post">
                    {% csrf_token %}
                    <div class="input-container">
                        <label for="email">Digite seu e-mail</label>
                        <img src="{% static './img/email-icon.svg' %}" alt="">
                        <input type="email" name="email" id="email" placeholder="Seu endereço de e-mail..." autocomplete="off">
                    </div>
                    <div class="input-container">
                        <label for="senha">Digite sua senha</label>
                        <img src="{% static './img/password-icon.svg' %}" alt="">
                        <input type="password" name="senha" id="senha" placeholder="Sua senha..." autocomplete="off">
                    </div>
                    <button type="submit" class="btn-login">Entrar</button>
                </form>
            </div>
        </div>
    </div>
</main>

<script src="./scripts/button.js"></script>
{% endblock %}
