{% load static %}
<main class="main-home">
    <div class="main-container">
        <div class="main-invite">
            <h1>CONECTANDO TALENTOS,<br> CRIANDO OPORTUNIDADES.</h1>
            <p>Se você busca talentos excepcionais ou está pronto<br>para brilhar profissionalmente, estamos aqui para<br>conectar sonhos e oportunidades. Junte-se a nós e<br>alcance o sucesso!</p>
            <a href="register.html" class="btn-main-home" tabindex="">PARTICIPAR</a>
        </div>
        <img src="{% static './img/illustration-person.svg'%}" alt="Ilustração de pessoas" width="650" height="383">
    </div>
</main>