{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'styles/perfil.css' %}">
{% endblock %}
{% block content %}

    <!-- Header -->
    {% include 'header.html' %}
    <!-- end header -->

    <main class="main-perfil">
        <div class="main-container-perfil">
            <div class="perfil-header">
                <span class="foto-dados">
                    <img {% if aluno.foto %} src="{{ aluno.foto.url }}" {% else %} src="{% static 'img/aluno-normal.svg' %}" {% endif %} alt="" width="150px" height="150px">
                    <span class="aluno-dados">
                        <h1>{{ aluno.nome_completo|upper }}</h1>
                        <p>Back-end</p>
                        <p>Nível 1 - Back-End</p>
                        <div class="progresso">
                            <div class="level"></div>
                        </div>
                    </span>
                </span>
                <span class="aluno-redes">
                    <a href="{% url 'edit' %}" class="btn-edit-perfil">Editar perfil</a>
                    <a href="{% url 'settings' %}" class="btn-edit-perfil">Configurar Conta</a>
                    <ul>
                        <li>
                            <a {% if aluno.linkedin %} href="{{ aluno.linkedin }}" target="_blank" {% endif %}>
                                <img src="{% if aluno.linkedin %}{% static './img/linkedin.svg' %}{% else %}{% static './img/linkedin-normal.svg' %}{% endif %}" alt="ícone linkedin" width="24px" height="24px">
                            </a>
                        </li>
                        <li>
                            <a {% if aluno.github %} href="{{ aluno.github }}"  target="_blank" {% endif %}>
                                <img src="{% if aluno.github %}{% static './img/github.svg' %}{% else %}{% static './img/github-normal.svg' %}{% endif %}" alt="ícone github" width="24px" height="24px">
                            </a>
                        </li>
                        <li>    
                            <a {% if aluno.discord %} href="{{ aluno.discord }}" target="_blank" {% endif %}>
                                <img src="{% if aluno.discord %}{% static './img/discord.svg' %}{% else %}{% static './img/discord-normal.svg' %}{% endif %}" alt="ícone discord" width="24px" height="24px">
                            </a>
                        </li>
                        <li>
                            <a {% if aluno.instagram %} href="{{ aluno.instagram }}" target="_blank" {% endif %}>
                                <img src="{% if aluno.instagram %}{% static './img/instagram.svg' %}{% else %}{% static './img/instagram-normal.svg' %}{% endif %}" alt="ícone instagram" width="24px" height="24px">
                            </a>
                        </li>
                        <li>
                            <a {% if aluno.whatsapp %} href="{{ aluno.wpp }}" target="_blank" {% endif %}>
                                <img src="{% if aluno.whatsapp %}{% static './img/wpp.svg' %}{% else %}{% static './img/wpp-normal.svg' %}{% endif %}" alt="ícone whatsapp" width="24px" height="24px">
                            </a>
                        </li>
                    </ul>
                </span>
            </div>
            <div class="perfil-bio">
                <h2>Sobre mim</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore suscipit amet quaerat maiores consectetur facere, cumque est dolore impedit dignissimos libero autem saepe hic corporis ipsam earum aliquam vero. Sed?</p>
            </div>
            <div class="perfil-selos">
                <h2>Selos</h2>
                <div class="perfil-selos-container">
                    <img src="{% static './img/git.svg' %}" alt="" width="32px" height="32px">
                    <img src="{% static './img/github.svg' %}" alt="" width="32px" height="32px">
                    <img src="{% static './img/mysql-locked.svg' %}" alt="" width="32px" height="32px">
                    <img src="{% static './img/postgre-locked.svg' %}" alt="" width="32px" height="32px">
                    <img src="{% static './img/python-locked.svg' %}" alt="" width="32px" height="32px">
                    <img src="{% static './img/git-locked.svg' %}" alt="" width="32px" height="32px">
                    <img src="{% static './img/github-locked.svg' %}" alt="" width="32px" height="32px">
                    <img src="{% static './img/mysql-locked.svg' %}" alt="" width="32px" height="32px">
                    <img src="{% static './img/postgre-locked.svg' %}" alt="" width="32px" height="32px"> 
                    <img src="{% static './img/python-locked.svg' %}" alt="" width="32px" height="32px">
                    <img src="{% static './img/git-locked.svg' %}" alt="" width="32px" height="32px">
                    <img src="{% static './img/github-locked.svg' %}" alt="" width="32px" height="32px">
                    <img src="{% static './img/mysql-locked.svg' %}" alt="" width="32px" height="32px">
                    <img src="{% static './img/postgre-locked.svg' %}" alt="" width="32px" height="32px">
                    <img src="{% static './img/python-locked.svg' %}" alt="" width="32px" height="32px">
                </div>
            </div>
            <div class="perfil-trilhas">
                <h2>Trilhas realizadas</h2>
                <div class="trilhas-container">
                    <div class="trilha-card">
                        <span>
                        <img src="{% static './img/backend-icon.svg' %}" alt="">
                        <p>Trilha back-end</p>    
                        </span>
                        <p class="trilha-status">Em progresso...</p>
                    </div>
                    <div class="trilha-card">
                        <span>
                        <img src="{% static './img/front-locked.svg' %}" alt="">
                        <p>Trilha front-end</p>    
                        </span>
                        <p class="trilha-status">Em progresso...</p>
                    </div>
                    <div class="trilha-card">
                        <span>
                        <img src="{% static './img/mobile-locked.svg' %}" alt="">
                        <p>Trilha Mobile</p>    
                        </span>
                        <p class="trilha-status">Em progresso...</p>
                    </div>
                    <div class="trilha-card">
                        <span>
                        <img src="{% static './img/design-locked.svg' %}" alt="">
                        <p>Trilha Design System</p>    
                        </span>
                        <p class="trilha-status">Em progresso...</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="./scripts/button.js"></script>
{% endblock %}

