{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'styles/perfil.css' %}">
{% endblock %}
{% block content %}

    <!-- Header -->
    {% include 'header.html' %}
    <!-- end header -->

    <main class="main-perfil">
        <div class="main-container-perfil">
            <div class="perfil-header">
                <span class="foto-dados">
                    <img {% if aluno.foto %} src="{{ aluno.foto.url }}" {% else %} src="{% static 'img/aluno-normal.svg' %}" {% endif %} alt="" width="150px" height="150px">
                    <span class="aluno-dados">
                        <h1>{{ aluno.nome_completo|upper }}</h1>
                        <p>{{ aluno.trilha_atual }}</p>
                        <p>Nível 1 - Back-End</p>
                        <div class="progresso">
                            <div class="level"></div>
                        </div>
                    </span>
                </span>
                <span class="aluno-redes">
                    <a href="{% url 'edit' %}" class="btn-edit-perfil">Editar perfil</a>
                    <a href="{% url 'settings' %}" class="btn-edit-perfil">Configurar Conta</a>
                    <ul>
                        <li>
                            <a {% if aluno.linkedin %} href="{{ aluno.linkedin }}" target="_blank" {% endif %}>
                                <img src="{% if aluno.linkedin %}{% static './img/linkedin.svg' %}{% else %}{% static './img/linkedin-normal.svg' %}{% endif %}" alt="ícone linkedin" width="24px" height="24px">
                            </a>
                        </li>
                        <li>
                            <a {% if aluno.github %} href="{{ aluno.github }}"  target="_blank" {% endif %}>
                                <img src="{% if aluno.github %}{% static './img/github.svg' %}{% else %}{% static './img/github-normal.svg' %}{% endif %}" alt="ícone github" width="24px" height="24px">
                            </a>
                        </li>
                        <li>    
                            <a {% if aluno.discord %} href="{{ aluno.discord }}" target="_blank" {% endif %}>
                                <img src="{% if aluno.discord %}{% static './img/discord.svg' %}{% else %}{% static './img/discord-normal.svg' %}{% endif %}" alt="ícone discord" width="24px" height="24px">
                            </a>
                        </li>
                        <li>
                            <a {% if aluno.instagram %} href="{{ aluno.instagram }}" target="_blank" {% endif %}>
                                <img src="{% if aluno.instagram %}{% static './img/instagram.svg' %}{% else %}{% static './img/instagram-normal.svg' %}{% endif %}" alt="ícone instagram" width="24px" height="24px">
                            </a>
                        </li>
                        <li>
                            <a {% if aluno.whatsapp %} href="{{ aluno.wpp }}" target="_blank" {% endif %}>
                                <img src="{% if aluno.whatsapp %}{% static './img/wpp.svg' %}{% else %}{% static './img/wpp-normal.svg' %}{% endif %}" alt="ícone whatsapp" width="24px" height="24px">
                            </a>
                        </li>
                    </ul>
                </span>
            </div>
            <div class="perfil-bio">
                <h2>Sobre mim</h2>
                {% if aluno.bio %}
                    <p>{{ aluno.bio }}</p>
                {% else %}
                <p>Esse usuário não tem descrição!</p>
                {% endif %}
            </div>
            <div class="perfil-selos">
                <h2>Selos</h2>
                <div class="perfil-selos-container">
                    {% if aluno.selos.exists %}
                        {% for selo in aluno.selos.all %}
                            <img src="{{ selo.selo_normal.url }}" alt="" width="32px" height="32px">
                        {% endfor %}
                        {% else %}
                            <p>Não tem selos!</p>
                    {% endif %}
                </div>
            </div>
            <div class="perfil-trilhas">
                <h2>Trilhas realizadas</h2>
                <div class="trilhas-container">

                    {% if aluno.trilhas.all  %}

                        {% for trilha in aluno.trilhas.all %}
                            <div class="trilha-card">
                                <span>
                                <img src="{% static './img/backend-icon.svg' %}" alt="">
                                <p>Trilha {{ trilha.nome }}</p>    
                                </span>
                                <p class="trilha-status">Em progresso...</p>
                            </div>
                        {% endfor %}

                        {% else %}

                            <h3>Não possui nenhuma trilha concluída</h3>
                            
                    {% endif %}
                </div>
            </div>
        </div>
    </main>

    <script src="./scripts/button.js"></script>
{% endblock %}

