{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'styles/search.css' %}">
{% endblock %}
{% block content %}

    <!-- Header -->
    {% include 'header.html' %}
    <!-- end header -->

    <main class="main-search">
        <div class="main-search-container">
            <div class="header-search">
                <h1>Resultados</h1>
                <div class="search-container-header">
                    <form action="{% url 'buscar' %}" method="get">
                        <div class="search">
                            <input type="text" name="nome" id="nome">
                            <img src="{% static './img/search-icon.svg' %}" alt="">
                        </div>
                        <button class="btn-search">Procurar</button>
                    </form>
                </div>
            </div>

            {% for perfil in perfis %}
            
            <a href="{% url 'perfil' id=perfil.id %}">
                <div class="card-aluno">
                    <img {% if perfil.foto %} src="{{ perfil.foto.url }}" {% else %} src="{% static 'img/aluno-normal.svg' %}" {% endif %} alt="" width="150px" height="150px">
                    <div class="aluno-data">
                        <h2>{{ perfil.nome_completo|upper }}</h2>
                        <p>Back-end</p>
                        <p>Nível 1 - Back-end</p>
                        <div class="progresso">
                            <div class="level"></div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </main>

{% endblock %}