{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'styles/perfil.css' %}">
    <link rel="stylesheet" href="{% static 'styles/perfil-privado.css' %}">
    <link rel="stylesheet" href="{% static 'styles/selos.css' %}">

{% endblock %}

{% block title %} {{ aluno.nome_completo|capfirst }} {% endblock %}

{% block content %}

    <!-- Header -->
    {% include 'header.html' %}
    <!-- end header -->


    <main class="main-perfil">
        <div class="main-container-perfil">
            <div class="perfil-header-privado">
                <span class="foto-dados">
                    {% if aluno.foto %}
                        <img src="{{ aluno.foto.url }}" alt="" width="150px" height="150px" class="aluno-foto">
                    {% else %}
                        <img src="{% static 'img/aluno-normal.svg' %}" alt="" width="150px" height="150px" class="aluno-foto">
                    {% endif %}
                </span>
                <h1> Selos de {{aluno.user.username|capfirst}} </h1>
            </div>
            <div class="perfil-privado-aviso">
                {% if selos_do_aluno.exists %}
                    <div class="selos">
                        {% for selo in selos_do_aluno.all %}
                            <img src="{{ selo.selo.selo_normal.url }}" alt="imagem do selo {{selo.selo.nome}}!" title="Selo {{selo.selo.nome}}" width="32px" height="32px">
                        {% endfor %}
                    </div>
                    {% else %}
                        <p class="no-stamps">Não tem selos!</p>
                    {% endif %}
            </div>
            <a href="#" id="return-page">Voltar</a>
        </div>
    </main>

    <script src="{% static './scripts/returnPage.js' %}"></script>

{% endblock %}

