{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/settings.css' %}">
{% endblock %}

{% block content %}

    <!-- Header -->
    {% include 'header.html' %}
    <!-- end header -->

    <main class="main-settings">
        <div class="main-container-settings">
            <img {% if user.aluno.foto %} src="{{ user.aluno.foto.url }}" {% else %} src="{% static 'img/aluno-normal.svg' %}" {% endif %} alt="" width="150px" height="150px">
            <h1>Configurações da conta</h1>
            <div class="change-container">
                <div class="change" onclick="modalEmail()">
                    <img src="{% static 'img/email-icon-white.svg' %}" class="img-change" alt="">
                    <h2>Alterar seu email</h2>
                </div>
                <div class="change" onclick="modalPassword()">
                    <img src="{% static 'img/password-icon-white.svg' %}" class="img-change" alt="">

                    <h2>Alterar sua senha</h2>

                </div>
                <div class="change" onclick="modalVisibility()">
                    <img src="{% static 'img/visibility.svg' %}" class="img-change" alt="">

                    <h2>Perfil privado</h2>

                </div>
                <div class="change" onclick="modalTrail()">
                    <img src="{% static 'img/dev.svg' %}" class="img-change" alt="">

                    <h2>Minha trilha</h2>

                </div>
            </div>
        <!-- Modals -->
        <div class="fade"></div>
        <div class="modal-email">
            <div id="modal-container-form-email">
                <form action="{% url 'settings' %}" method="post" class="form-settings">
                    {% csrf_token %}
                    <div class="settings-email">
                        <label for="email">Alterar e-mail</label>
                        <div class="input-email">
                            <img src="{% static './img/email-icon.svg' %}" alt="">
                            <input type="email" name="email" id="email" placeholder="Insira seu novo-email...">
                        </div>
                        <div class="btn-social">
                            <button type="submit" name="submit_change_email" class="btn-social-confirm" >Salvar</button>
                            <a onclick="modalEmail()" class="btn-social-cancel" >Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-password">
            <div id="modal-container-form-password">
                <form action="{% url 'settings' %}" method="post" class="form-settings">
                    {% csrf_token %}
                    <div class="settings-senha">
                        <label for="senha">Alterar senha</label>
                        <div class="input-password">
                            <img src="{% static './img/password-icon.svg' %}" alt="">
                            {{ form_change_password.new_password }}
                        </div>
                        <div class="input-password">
                            <img src="{% static './img/password-icon.svg' %}" alt="">
                            {{ form_change_password.confirm_password }}
                        </div>
                    </div>
                    <div class="btn-social">
                        <button type="submit" name="submit_change_password" class="btn-social-confirm">Salvar</button>
                        <a onclick="modalPassword()" class="btn-social-cancel" >Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-visibility">
            <div id="modal-container-form-visibility">
                <form action="{% url 'settings' %}" method="post" class="form-settings">
                    {% csrf_token %}
                    <div class="private-perfil">
                        <h2>Perfil privado</h2>
                        <p>Se a opção perfil privado estiver ativa, apenas professores vão poder visulizar seu perfil.</p>
                        <label for="{{ form.perfil_privado.id_for_label }}">
                            <div class="private-section">
                                {{ form_change_visibility.perfil_privado }}
                                <span class="checkbox-private">Privar meu perfil</span>
                            </div>
                        </label>
                    </div>
                    <div class="btn-social">
                        <button type="submit" name="submit_change_visibility" class="btn-social-confirm" >Salvar</button>
                        <a onclick="modalVisibility()" class="btn-social-cancel" >Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-trail">
            <div id="modal-container-form-trail">
                <form action="{% url 'settings' %}" method="post" class="form-settings">
                    {% csrf_token %}
                    <div class="trilha-select">
                        <label for="trilha-select">Minha trilha</label>
                        <p>Exibe em seu perfil a trilha que tem mais afinidade.</p>
                        <select name="trilha-select" id="trilha-select">
                            <option value="backend">Back-End</option>
                            <option value="frontend">Front-End</option>
                            <option value="mobile">Mobile</option>
                            <option value="design-system">Design System</option>
                        </select>
                    </div>
                    <div class="btn-social">
                        <button type="submit" name="submit_change_trail" class="btn-social-confirm" >Salvar</button>
                        <a onclick="modalTrail()" class="btn-social-cancel" >Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <script src="{% static './scripts/modalEmail.js' %}"></script>
    <script src="{% static './scripts/modalPassword.js' %}"></script>
    <script src="{% static './scripts/modalVisibility.js' %}"></script>
    <script src="{% static './scripts/modalTrail.js' %}"></script>

{% endblock %}
