{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'styles/trilha.css' %}">
{% endblock %}
{% block content %}

    <!-- Header -->
    {% include 'header.html' %}
    <!-- end header -->

    <main class="main-trilha">
        <div class="main-trilha-container">
            <span class="span-trilha-container">
                <h1>Trilha {{ trilha.nome }}</h1>
                <p>Quando finalizar alguma tarefa marque como feito e ganhe selos exclusivos para seu perfil!</p>
            </span>

            {% for modulo in modulos %}
            
            <div class="checklist-trilha">
                <div class="trilha-header">
                    <h1>{{ modulo.nome }}</h1>
                    <div class="selos">
                        {% if modulo in modulos_concluidos %}
                                {% for selo in modulo.selos.all %}
                                    <img src="{{ selo.selo_normal.url}}" width="24px" height="24px" alt="">
                                {% endfor %}
                            {% else %}
                                {% for selo in modulo.selos.all %}
                                    <img src="{{ selo.selo_bloqueado.url}}" width="24px" height="24px" alt="">
                                {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="trilha-tasks">
                    <form action="{% url 'trilha' %}" method="post">
                        {% csrf_token %}
                            {% for tarefa in modulo.tarefas.all %}
                                <label for="tarefa_{{ tarefa.id }}">
                                    <div class="task">
                                        <input type="checkbox" id="tarefa_{{ tarefa.id }}" name="tasks" class="checkbox-task">
                                        <label for="tarefa_{{ tarefa.id }}" class="checkbox-personalizado"></label>
                                        <p>{{ tarefa.nome }}</p>
                                    </div>
                                    {% if tarefa.descricao %}
                                        <li>{{ tarefa.descricao }}</li>
                                    {% endif %}
                                </label>
                            {% endfor %}
                    </form>
                </div>  
                
                {% if modulo in modulos_concluidos %}
                    <div class="trilha-submit">
                        <p>Módulo finalizado!</p>
                    </div>
                    {% else %}
                        {% if modulo.requer_projeto %}
                        <div class="trilha-submit">
                            <button onclick="enviarRepositorio('{{modulo.nome}}')">Enviar Repositório</button>
                        </div>
                    {% else %}
                        <div class="trilha-submit">
                            <form action="{% url 'trilha' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="modulo_concluir" value="{{modulo.nome}}">
                                <button type="submit">Marcar como concluído</button>
                            </form>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            {% endfor %}
        </div>

        

        <div class="fade" onclick="enviarRepositorio()"></div>
        <div class="modal">
            <div id="modal-container-form">
                <h2>Enviar Repositório</h2>
                <form action="{% url 'trilha' %}" method="post" class="form-submit-rep">
                    {% csrf_token %} 
                        <div class="submit-url">
                            <img src="{% static './img/github-normal.svg' %}" alt="">
                            <input type="hidden" id="modulo_selecionado" name="modulo_selecionado" value="">
                            {{ form.url_projeto }}
                        </div>
                        <div class="submit">
                            <input type="submit" id="submit-rep">
                            <button type="submit">Enviar</button>
                            <a onclick="enviarRepositorio()">Cancelar</a>
                        </div>
                </form>
            </div>
        </div>
    </main>

    <script src="{% static '/scripts/enviarRepositorio.js' %}"></script>

{% endblock %}