{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'styles/trilha.css' %}">
{% endblock %}
{% block content %}

    <!-- Header -->
    {% include 'header.html' %}
    <!-- end header -->

    <main class="main-trilha">
        <div class="main-trilha-container">
            <span class="span-trilha-container">
                <h1>Trilha Back-End</h1>
                <p>Quando finalizar alguma tarefa marque como feito e ganhe selos exclusivos para seu perfil!</p>
            </span>
            <div class="checklist-trilha">
                <div class="trilha-header">
                    <h1>Parte 1 - Git/Github</h1>
                    <div class="selos">
                        <img src="{% static './img/git-locked.svg' %}" alt="">
                        <img src="{% static './img/github-locked.svg' %}" alt="">
                    </div>
                </div>
                <div class="trilha-tasks">
                    <form action="?">
                        <label for="task1">
                            <div class="task">
                                <input type="checkbox" name="task1" id="task1">
                                <span>1 - Clone de Repositório</span>
                            </div>
                        </label>
                        <label for="task2">
                            <div class="task">
                                <input type="checkbox" name="task2" id="task2">
                                <span>2 - Criação de Repositório</span>
                            </div>
                        </label>
                    </form>
                </div>
                <div class="trilha-submit">
                    <a onclick="enviarRepositorio()">Enviar Repositório</a>
                </div>
            </div>
            <div class="checklist-trilha">
                <div class="trilha-header">
                    <h1>Parte 1 - Git/Github</h1>
                    <div class="selos">
                        <img src="{% static './img/git-locked.svg' %}" alt="">
                        <img src="{% static './img/github-locked.svg' %}" alt="">
                    </div>
                </div>
                <div class="trilha-tasks">
                    <form action="?">
                        <label for="task1">
                            <div class="task">
                                <input type="checkbox" name="task1" id="task1">
                                <span>1 - Clone de Repositório</span>
                            </div>
                        </label>
                        <label for="task2">
                            <div class="task">
                                <input type="checkbox" name="task2" id="task2">
                                <span>2 - Criação de Repositório</span>
                            </div>
                        </label>
                    </form>
                </div>
                <div class="trilha-submit">
                    <a onclick="enviarRepositorio()">Enviar Repositório</a>
                </div>
            </div>
        </div>
        <div class="fade" onclick="enviarRepositorio()"></div>
        <div class="modal">
            <div id="modal-container-form">
                <h2>Enviar Repositório</h2>
                <form action="?" class="form-submit-rep">
                    <label for="submit">
                        <div class="submit-url">
                            <img src="./img/github-normal.svg" alt="">
                            <input type="url" for="submit-rep" id="submit-rep" placeholder="Insira a URL do repositório...">
                        </div>
                        <div class="submit">
                            <input type="submit" value="">
                            <a onclick="enviarRepositorio()">Enviar</a>
                            <a onclick="enviarRepositorio()">Cancelar</a>
                        </div>
                    </label>
                </form>
            </div>
        </div>
    </main>

    <script src="{% static '/scripts/enviarRepositorio.js' %}"></script>

{% endblock %}