{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'styles/trilhas.css' %}">
{% endblock %}
{% block content %}

    <!-- Header -->
    {% include 'header.html' %}
    <!-- end header -->

<main class="main-trilhas">
    <div class="main-trilhas-container">
        <h1>Seja bem vindo, Aluno(a)!</h1>
        <p>Escolha uma trilha de estudos que você deseja fazer...</p>
        <div class="trilhas-container">
            <button class="btn-trilhas" onclick="escolherTrilha()">
                <div class="trilha-card">
                    <img src="{% static './img/backend-icon.svg' %}" alt="">
                    <p>TRILHA BACK-END</p>
                </div>
            </button>
            <button class="btn-trilhas" onclick="escolherTrilha()">
                <div class="trilha-card">
                    <img src="{% static './img/React-SVG.svg' %}" alt="">
                    <p>TRILHA FRONT-END</p>
                </div>
            </button>
            <button class="btn-trilhas" onclick="escolherTrilha()">
                <div class="trilha-card">
                    <img src="{% static './img/mobile-icon.svg' %}" alt="">
                    <p>TRILHA MOBILE</p>
                </div>
            </button>
            <button class="btn-trilhas" onclick="escolherTrilha()">
                <div class="trilha-card">
                    <img src="{% static './img/design-system-icon.svg' %}" alt="">
                    <p>TRILHA DESIGN SYSTEM</p>
                </div>
            </button>
        </div>
    </div>
    <div class="fade"></div>
    <div class="modal">
        <div id="modal-container">
            <img src="{% static './img/warning-icon.svg' %}" alt="Imagem de aviso">
            <span class="text-modal">
                <h1>Atenção!</h1>
                <p>Só é possível realizar uma trilha por vez, então se optar por outra seu progresso pode ser perdido.</p>
            </span>
            <span class="modal-btn">
                <a href="trilha.html" onclick="escolherTrilha()">Fazer trilha</a>
                <a onclick="escolherTrilha()">Cancelar</a>
            </span>
        </div>
    </div>
</main>

<script src="{% static './scripts/modal-trilha.js' %}"></script>

{% endblock %}
