{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'styles/trilhas.css' %}">
{% endblock %}

{% block title %} Trilhas {% endblock %}

{% block content %}

    <!-- Header -->
    {% include 'header.html' %}
    <!-- end header -->

<main class="main-trilhas">
    <div class="main-trilhas-container">
        {% if trilhas_disponiveis %}
        <h1>Seja bem vindo, {{ user.username|upper }}!</h1>
        <p>Escolha uma trilha de estudos que você deseja fazer...</p>
        {% else %}
        <h1>Parabéns {{ user.username|upper }}!</h1>
        <p>Você concluiu todas as trilhas de estudos!</p>
        {% endif %}
        <div class="trilhas-container">
            {% for trilha in trilhas_disponiveis %}
            <button class="btn-trilhas" onclick="escolherTrilha('{{ trilha.nome }}')">
                <div class="trilha-card">
                    <img {% if trilha.imagem %} 
                        src="{{ trilha.imagem.url }}" 
                    {% else %} 
                        src="{% static 'img/dev.svg' %}" 
                    {% endif %}
                    alt="Imagem da trilha {{ trilha.nome }}" width="64px" height="64px">
                    <p>{{ trilha.nome }}</p>
                </div>
            </button>
            {% endfor %}
        </div>
    </div>
    <div class="fade"></div>
    <div class="modal">
        <div id="modal-container">
            <img src="{% static './img/warning-icon.svg' %}" alt="Imagem de aviso">
            <span class="text-modal">
                <h1>Atenção!</h1>
                <p>Só é possível realizar uma trilha por vez, então se optar por outra seu progresso pode ser perdido.</p>
            </span>
            <span class="modal-btn">
                <form action="{% url 'trilhas' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="trilha_selecionada" name="trilha" value="">
                    <button type="submit" id="fazer-trilha">Fazer trilha</button>
                </form>
                <a onclick="exibirModalTrilha()">Cancelar</a>
            </span>
        </div>
    </div>
</main>

<script src="{% static './scripts/modal-trilha.js' %}"></script>

{% endblock %}
