

.pagination {
    list-style: none;
    display: flex;
    gap: 1em;
}

.page-item {
    border: 1px solid #4D4D56;
    padding: 0.5em;
    background-color: #202024;
}

.nav-pagination {
    width: auto;
}

.page-item-mobile {
    display: none;
}

@media (max-width: 760px) {
    li.page-item:nth-child(1), li.page-item:nth-child(4){
        padding: 0.5em 1em;
    }
}

@media (max-width: 400px){

    .desktop{
        display: none;
    }

    .page-item-mobile {
        display: block;
        border: 1px solid #4D4D56;
        padding: 0.5em 1em;
        background-color: #202024;
    }

    .nav-pagination {
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}