.main-register {
    padding: 2em 0 6em 0;
    margin: 0 auto;
}

.main-container-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    max-width: 900px;
    margin: 0 auto;
    padding: 3rem;
    padding-bottom: 0;
    border-radius: 1rem;
    width: 90vw;
    height: 700px;
    position: relative;
}

.main-container-register {
    max-width: 450px;
    height: 925px;
    background-color: #202024;
}

.main-container-register h1 {
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
}

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.register-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.register {
    font-size: 1rem;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
}

.input-container input {
    background-color: #121214;
    color: #4D4D56;
    padding: 1rem 4rem 1rem 3.5rem;
    border-radius: 8px;
    border: none;
    outline: none;
}

.input-container input::placeholder {
    font-weight: 500;
    font-size: 0.9rem;
    color: #4D4D56;
}

.input-container input:focus{
    /* border: 1px solid #9779FB; */
    outline: 1px solid #9779FB;
}

.input-container img {
    position: absolute;
    left: 1em;
    bottom: 1em;
    width: 20px;
    height: 20px;
}

.input-container:nth-child(3) span:nth-child(1){
    font-weight: bold;
    margin-bottom: 8px;
}

.input-container:nth-child(3) img {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    width: 20px;
    height: 20px;
}

.input-container:nth-child(6) label input {
    display: none;
}

.input-container:nth-child(6) .matricula-register {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.input-container:nth-child(6)>.matricula-register span:nth-child(1) {
    color: #4D4D56;
    font-weight: 400;
}

.input-container:nth-child(6)>.matricula-register span {
    padding: 1rem 4rem;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #121214;
    color: #4D4D56;
    font-weight: bold;
}

.input-container:nth-child(6)>.matricula-register img {
    position: absolute;
    
}

.btn-register {
    margin-top: 1rem;
    background-color: #9779FB;
    border: none;
    padding: 1rem 2rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.btn-register:hover {
    transition: 0.6s;
    transform: translate(0px, -2px);
}

@media (max-width: 660px) {
    .main-container-register {
        width: 90%;
        max-width: 90%;
    }
}

@media (max-width: 475px) {
    .main-container-register {
        max-width: 425px;
        height: 950px;
    }

    .input-container {
        width: 100%;
        align-items: normal;
    }

    .input-container input {

        padding: 1rem 1rem 1rem 3rem;
    }

    .input-container:nth-child(3)>.matricula-register span {
        padding: 1rem 3rem 1rem 0rem;
        text-align: right;
    }

    .input-container:nth-child(6) .matricula-register {
        background-color: #121214;
        align-items: center;
        padding: 1rem;
        gap: 1rem;
        border-radius: 8px;
    }

    .input-container:nth-child(6)>.matricula-register img{
        position: static;

    }

    .input-container:nth-child(6)>.matricula-register span{
        text-align: center;
        padding: 0;
    }

}

@media (max-width: 365px) {
    .main-container-register {
        height: 1000px;
    }

    .register {
        width: 90%;
        display: flex;
        justify-content: center;
    }

    .register-form {
        width: 90%;
    }
}

