{% load static %}
<footer class="footer">
    <div class="footer-container">
        <div class="footer-content">
            <a href="#"><img src="{% static './img/nadic.BDT.svg' %}" alt="Logo Footer"></a>
            <div class="footer-about">
                <p>Olá aluno(a)!</p>
                <p>Participe do nosso banco de talentos, escolha uma trilha de estudo guiado e consiga oportunidades de participação de projetos reais!</p>
            </div>
            <div class="footer-social">
                <p>Siga nossas redes sociais!</p>
                <ul>
                    <li><a href="https://www.linkedin.com/in/nadic-ifrn-618742205/" target="_blank"><img src="{% static './img/linkedin.svg' %}" alt="Linkedin Logo"></a></li>
                    <li><a href="#"><img src="{% static './img/github.svg' %}" alt="Github Logo" target="_blank"></a></li>
                    <li><a href="https://www.instagram.com/nadic_ifpdf/" target="_blank"><img src="{% static './img/instagram.svg' %}" alt="Instagram Logo"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>