{% load static %}
<header>
    <div class="header-container">
        <nav>
            <a href="{% url 'trilha' %}"><img src="{% static './img/nadic.BDT.svg'%} " alt="Logo" class="logo"></a>
            <img src="{% static './img/menu-burguer.svg'%} " alt="Menu" class="menu-burger" onclick="toggleMenu()">
            <div class="pages">
                <ul>
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'trilha' %}">Trilha</a></li>
                    {% else %}
                        <li><a href="{% url 'index' %}">Início</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="sessao">
                {% if request.user.is_authenticated %}
                <div class="search-container">
                    <form action="{% url 'buscar' %}" method="get">
                        {% csrf_token %}
                        <div class="search">
                            <input type="text" name="nome" id="nome">
                            <img src="{% static './img/search-icon.svg'%} " alt="">
                        </div>
                    </form>
                </div>
                {% else %}
                    <img src="{% static './img/perfil-icon.svg'%} " alt="ícone de perfil">
                {% endif %}
                <ul>
                    {% if not request.user.is_authenticated %}
                        <li><a href="{% url 'login' %}">Entrar</a></li>
                        <li><a href="{% url 'register' %}" class="register">Registrar-se</a></li>
                    {% else %}
                        <li class="links-mobile"><a href="{% url 'trilha' %}">Trilha</a></li>
                        <li class="links-mobile"><a href="{% url 'buscar' %}">Buscar</a></li>
                        <li><a href="{% url 'perfil' user.perfil.id %}">Meu perfil</a></li>
                        <li class="links-mobile"><a href="{% url 'settings' %}">Configurações</a></li>
                        <li><a href="{% url 'logout' %}">Sair</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</header>