/* Header CSS - Desktop */
header {
    background-color: #202024;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
     rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    height: 60px;
}

.header-container{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    padding: 1rem 5rem;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.pages ul li {
    list-style: none;
}

.pages ul li a {
    font-weight: bold;
    text-decoration: none;
}

.pages ul li a:hover {
    color: #9779FB;
    transition: .6s;
}

.sessao {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    height: 100%;
}

.sessao ul {
    display: flex;
    gap: 1rem;
}

.sessao ul li {
    list-style: none;
}

.sessao ul li a {
    font-weight: bold;
    text-decoration: none;
}

.sessao ul li a:hover {
    color: #9779FB;
    transition: 0.5s;
}

.register {
    color: #9779FB;
}

.menu-burger {
    display: none;
}

/* Logado */
.pages ul {
    display: flex;
    gap: 1rem;
}

.pages ul li:nth-child(1) {
    display: none;
}

.sessao ul li:nth-child(1) {
    display: none;
}

.sessao ul li:nth-child(2) {
    display: none;
}

.sessao ul li:nth-child(3) {
    display: none;
}

.sessao ul li:nth-child(4) {
    display: none;
}

.sessao ul li:nth-child(6) {
    display: none;
}

.sessao ul li:nth-child(7) {
    display: block;
}


.sessao img {
    display: none;
}

/* Search */
.search {
    display: flex;
    align-items: center;
    position: relative;
    gap: 1rem;
}

.search input {
    background-color: #121314;
    border: none;
    padding: 0.3rem 0.3rem 0.3rem 2rem;
    border-radius: 0.5rem;
    color: #fff;
}

.btn-search {
    background-color: #9779FB;
    font-weight: bold;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.search input:focus {
    outline: 1px solid #9779FB;
    transition: 0.6s;
}

.search img {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translate(-50%, -50%);
}

/* Medias Queries */
@media screen and (max-width: 800px) {
    
    header {
        padding: 1rem 2rem;
    }

    .search-container {
        display: none;
    }

    .sessao ul li:nth-child(3) {
        display: block;
    }

    .sessao ul li:nth-child(4) {
        display: block;
    }

    .sessao ul li:nth-child(5) {
        display: block;
    }

    .sessao ul li:nth-child(6) {
        display: block;
    }
    
    .sessao ul li:nth-child(7) {
        display: block;
    }

    .header-container {
        padding: 0rem 1rem;
    }

    .register {
        color: #fff;
    }

    .menu-burger {
        display: block;
        cursor: pointer;
    }

    .pages {
        display: none;
    }

    .sessao {
        display: none;
        width: 100%;
        padding: 0 1rem;
        background-color: #202024;
        position: absolute;
        top: 60px;
        right: 0px;
        transition: .6s;
        height: calc(100vh - 60px);
        z-index: 1000;
    }

    .sessao ul {
        flex-direction: column;
        gap: 0;
    }

    .sessao ul li {
        border-bottom: 1px solid #4D4D56;
    }

    .sessao ul li:hover {
        background-color: #4D4D56;
    }

    .sessao ul li a {
        display: block;
        padding: 1rem;
    }

    .sessao-active {
        display: block;
    }

    .sessao img{
        display: none;
    }

}
