.main-trilha {
    padding: 0;
    margin: 0 auto;
    /* disable text selection */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.main-trilha-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 4rem;
    padding-bottom: 0;
    border-radius: 1rem;
    width: 90vw;
    height: 1000px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.span-trilha-container {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.main-trilha-container h1 {
    width: 90vw;
    font-size: 2rem;
    text-align: center;
}

.main-trilha-container p {
    width: 50vw;
    text-align: center;
    color: #4D4D56;
    font-weight: bold;
}

/* checklist trilha */
.checklist-trilha {
    width: 50vw;
}

.trilha-header {
    background-color: #202024;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.trilha-header h1 {
    color: #9779FB;
    font-size: 1.3rem;
    text-align: left;
}

.selos {
    display: flex;
    gap: 0.5rem;
}

.selos img {
    width: 24px;
}

/* checklista-trilha tasks */
.trilha-tasks {
    background-color: #1D1D20;
    padding: 1rem;
}

.trilha-tasks label {
    padding: 0.5rem;
}

.trilha-tasks form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.task {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.task span {
    font-size: 0.9rem;
}

/* trilha submit */
.trilha-submit {
    background-color: #202024;
    border-radius: 0.5rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* incomplete tasks */
.trilha-submit a {
    text-decoration: none;
    border: none;
    padding: 0.4rem;
    background-color: #9779FB;
    outline: 1px solid #9779FB;
    border-radius: 0.5rem;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    font-size: 0.9rem;
    cursor: pointer;
}

.trilha-submit a:hover {
    transform: translate(0px, -2px);
    transition: 0.6s;
}

/* modal */
.fade {
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    visibility: hidden;
}

.modal {
    max-width: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #202024;
    height: auto;
    border-radius: 0.5rem;
    z-index: 6;
    padding: 2rem;
    visibility: hidden;
    width: 30vw;
}

.modal-active {
    visibility: visible;
}

#modal-container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#modal-container-form h2 {
    font-size: 1.5rem;
    text-align: center;
}

.form-submit-rep {
    width: 100%;
}

.form-submit-rep label {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.submit-url {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.submit-url img {
    position: absolute;
    top: 50%;
    left: 1.1rem;
    transform: translate(-50%, -50%);
}

.submit-url input {
    padding: 0.6rem 0.6rem 0.6rem 2.2rem;
    border: none;
    background-color: #121314;
    border-radius: 0.5rem;
    color: white;
    width: 100%;
    font-size: 0.8rem;
}

.submit-url input::placeholder {
    font-weight: bold;
    color: #4D4D56;
    font-size: 0.9rem;
}

.submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.submit input {
    display: none;
}

.submit a{
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-weight: bold;
    cursor: pointer;
}

.submit a:nth-child(3) {
    background-color: #9779FB;
    border-radius: 0.5rem;
    color: #ffffff;
}

@media (max-width: 768px){
    .main-trilha-container p {
        width: 90vw;
    }

    .checklist-trilha {
        width: 90vw;
    }

    .modal {
        width: 50%;
    }
}

@media (max-width: 660px){
    .modal {
        width: 90%;
    }
}

@media (max-width: 320px){
    .submit {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}